<?xml version="1.0"?>
<robot name="my_robot_cell" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find my_robot_cell_description)/urdf/my_robot_cell_macro.xacro"/>

  <!--The driver already provides a control tag for the UR arm, we can directly include-->
  <xacro:include filename="$(find ur_robot_driver)/urdf/ur.ros2_control.xacro"/>
  
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_140_macro.urdf.xacro" />

  <xacro:arg name="ur_type" default="ur5e"/>
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="joint_limit_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>

  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="headless_mode" default="true" /> <!-- People don't usually have this true by default, but it's what's convenient for me. -->
  <xacro:arg name="use_mock_hardware" default="true" /> <!-- This too ^^ -->
  <xacro:arg name="ur_script_filename" default="$(find ur_client_library)/resources/external_control.urscript"/>
  <xacro:arg name="ur_output_recipe_filename" default="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"/>
  <xacro:arg name="ur_input_recipe_filename" default="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"/>
  <xacro:arg name="mock_sensor_commands" default="false" />

  <link name="world" />

  <!-- Note that you left this in a broken state, in favor of the workcell tutorial folders -->
  

</robot>