<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5e_gripper">

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_140_macro.urdf.xacro" />

  <xacro:arg name="ur_type" default="ur5e"/>
  <xacro:arg name="tf_prefix" default=""/>

  <link name="world" />

  <xacro:ur_robot
    name="ur5e"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"
    >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ur_robot>

  <xacro:robotiq_gripper name="robotiq_gripper" parent="tool0" include_ros2_control="false" prefix="gripper_"> <!-- prefix is something I set if I need to distinguish between multiple of these robotiq_gripper objects. Like if I had two or something. But I just have one so I'm passing "" for prefix -->
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:robotiq_gripper>

</robot>
